<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <table class="table">
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Continent</th>
        <th scope="col">Population (Millions)</th>
        <th scope="col">Population Density (Thousand per km)</th>
        <th scope="col">GNI Per Capita (Thousands)</th>
      </tr>
      <% @data.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= country.continent %></td>
          <td><%= country.population %></td>
          <td><%= country.density %></td>
          <td><%= country.gni %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
